-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."UserRole" AS ENUM ('SUPER_ADMIN', 'COLLEGE_ADMIN', 'STUDENT');

-- CreateEnum
CREATE TYPE "public"."QuestionType" AS ENUM ('MULTIPLE_CHOICE', 'TRUE_FALSE', 'SHORT_ANSWER', 'ESSAY');

-- CreateEnum
CREATE TYPE "public"."QuestionDifficulty" AS ENUM ('EASY', 'MEDIUM', 'HARD');

-- CreateEnum
CREATE TYPE "public"."EventType" AS ENUM ('EXAM', 'ASSIGNMENT', 'ANNOUNCEMENT', 'OTHER');

-- CreateEnum
CREATE TYPE "public"."EventPriority" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "public"."NotificationType" AS ENUM ('INFO', 'WARNING', 'SUCCESS', 'ERROR', 'REMINDER');

-- CreateEnum
CREATE TYPE "public"."NotificationChannel" AS ENUM ('EMAIL', 'SMS', 'PUSH', 'IN_APP', 'WEBHOOK');

-- CreateEnum
CREATE TYPE "public"."NotificationStatus" AS ENUM ('PENDING', 'SENT', 'DELIVERED', 'READ', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."ReminderType" AS ENUM ('EMAIL', 'SMS', 'PUSH', 'IN_APP');

-- CreateEnum
CREATE TYPE "public"."EnrollmentStatus" AS ENUM ('ACTIVE', 'INACTIVE', 'SUSPENDED', 'GRADUATED');

-- CreateEnum
CREATE TYPE "public"."Gender" AS ENUM ('MALE', 'FEMALE', 'OTHER', 'PREFER_NOT_TO_SAY');

-- CreateEnum
CREATE TYPE "public"."InvitationStatus" AS ENUM ('PENDING', 'ACCEPTED', 'CANCELLED', 'EXPIRED', 'FAILED');

-- CreateEnum
CREATE TYPE "public"."EmailStatus" AS ENUM ('PENDING', 'SENT', 'DELIVERED', 'OPENED', 'CLICKED', 'BOUNCED', 'FAILED', 'CANCELLED');

-- CreateTable
CREATE TABLE "public"."super_admin" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "super_admin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."college" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "address" TEXT,
    "city" TEXT,
    "state" TEXT,
    "country" TEXT NOT NULL DEFAULT 'Pakistan',
    "phone" TEXT,
    "email" TEXT,
    "website" TEXT,
    "subscriptionStatus" TEXT NOT NULL DEFAULT 'TRIAL',
    "subscriptionExpiry" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "college_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "firstName" TEXT,
    "lastName" TEXT,
    "email" TEXT NOT NULL,
    "rollNo" TEXT,
    "password" TEXT NOT NULL,
    "role" "public"."UserRole" NOT NULL DEFAULT 'STUDENT',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "collegeId" TEXT,
    "department" TEXT,
    "position" TEXT,
    "phone" TEXT,
    "bio" TEXT,
    "avatar" TEXT,
    "preferences" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."subject" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "description" TEXT,
    "credits" INTEGER NOT NULL DEFAULT 3,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "collegeId" TEXT NOT NULL,
    "classId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "subject_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."exam" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "duration" INTEGER NOT NULL,
    "totalMarks" INTEGER NOT NULL,
    "passingMarks" INTEGER NOT NULL,
    "startTime" TIMESTAMP(3) NOT NULL,
    "endTime" TIMESTAMP(3) NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isPublished" BOOLEAN NOT NULL DEFAULT false,
    "subjectId" TEXT NOT NULL,
    "collegeId" TEXT NOT NULL,
    "classId" TEXT,
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "enableQuestionShuffling" BOOLEAN NOT NULL DEFAULT true,
    "enableTimeLimitPerQuestion" BOOLEAN NOT NULL DEFAULT false,
    "timeLimitPerQuestion" INTEGER,
    "enableBrowserLock" BOOLEAN NOT NULL DEFAULT true,
    "enableFullscreenMode" BOOLEAN NOT NULL DEFAULT true,
    "enableWebcamMonitoring" BOOLEAN NOT NULL DEFAULT false,
    "enableScreenRecording" BOOLEAN NOT NULL DEFAULT false,
    "maxAttempts" INTEGER NOT NULL DEFAULT 1,
    "allowRetakes" BOOLEAN NOT NULL DEFAULT false,
    "retakeDelayHours" INTEGER NOT NULL DEFAULT 24,

    CONSTRAINT "exam_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."question" (
    "id" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "type" "public"."QuestionType" NOT NULL,
    "options" JSONB,
    "correctAnswer" TEXT NOT NULL,
    "marks" INTEGER NOT NULL,
    "difficulty" "public"."QuestionDifficulty" NOT NULL DEFAULT 'MEDIUM',
    "explanation" TEXT,
    "examId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "question_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."question_option" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "isCorrect" BOOLEAN NOT NULL DEFAULT false,
    "order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "question_option_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."exam_result" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "examId" TEXT NOT NULL,
    "score" INTEGER NOT NULL,
    "totalMarks" INTEGER NOT NULL,
    "percentage" DOUBLE PRECISION NOT NULL,
    "grade" TEXT,
    "startTime" TIMESTAMP(3) NOT NULL,
    "endTime" TIMESTAMP(3),
    "isCompleted" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "exam_result_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."grade_boundary" (
    "id" TEXT NOT NULL,
    "collegeId" TEXT,
    "grade" TEXT NOT NULL,
    "minPercentage" DOUBLE PRECISION NOT NULL,
    "maxPercentage" DOUBLE PRECISION NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "grade_boundary_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."class" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "academicYear" TEXT NOT NULL,
    "collegeId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "class_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."enrollment" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "classId" TEXT NOT NULL,
    "enrollmentDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" "public"."EnrollmentStatus" NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "enrollment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."teacher_class_assignment" (
    "id" TEXT NOT NULL,
    "teacherId" TEXT NOT NULL,
    "classId" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "assignedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isActive" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "teacher_class_assignment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."student_profile" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "collegeId" TEXT NOT NULL,
    "rollNo" TEXT NOT NULL,
    "fatherName" TEXT,
    "motherName" TEXT,
    "dateOfBirth" TIMESTAMP(3),
    "gender" "public"."Gender",
    "address" TEXT,
    "phone" TEXT,
    "profileImageUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "student_profile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."student_exam_attempt" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "examId" TEXT NOT NULL,
    "collegeId" TEXT NOT NULL,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endedAt" TIMESTAMP(3),
    "score" INTEGER NOT NULL DEFAULT 0,
    "totalMarks" INTEGER NOT NULL DEFAULT 0,
    "isCompleted" BOOLEAN NOT NULL DEFAULT false,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "browserFingerprint" TEXT,
    "suspiciousActivity" BOOLEAN NOT NULL DEFAULT false,
    "activityLog" TEXT,
    "violationCount" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "student_exam_attempt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."student_answer" (
    "id" TEXT NOT NULL,
    "attemptId" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "selectedOptionId" TEXT,
    "answerText" TEXT,
    "isCorrect" BOOLEAN NOT NULL DEFAULT false,
    "marksAwarded" INTEGER NOT NULL DEFAULT 0,
    "timeSpent" INTEGER,
    "answeredAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "collegeId" TEXT NOT NULL,

    CONSTRAINT "student_answer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."event" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "type" "public"."EventType" NOT NULL,
    "scheduledAt" TIMESTAMP(3) NOT NULL,
    "endDateTime" TIMESTAMP(3),
    "priority" "public"."EventPriority" NOT NULL DEFAULT 'MEDIUM',
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "recurrencePattern" TEXT,
    "collegeId" TEXT NOT NULL,
    "classId" TEXT,
    "subjectId" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "event_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "eventId" TEXT,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "messageTemplate" TEXT,
    "type" "public"."NotificationType" NOT NULL,
    "channel" "public"."NotificationChannel" NOT NULL,
    "status" "public"."NotificationStatus" NOT NULL DEFAULT 'PENDING',
    "sentAt" TIMESTAMP(3),
    "deliveredAt" TIMESTAMP(3),
    "readAt" TIMESTAMP(3),
    "retryCount" INTEGER NOT NULL DEFAULT 0,
    "maxRetries" INTEGER NOT NULL DEFAULT 3,
    "failureReason" TEXT,
    "metadata" JSONB,
    "collegeId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."event_subscription" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "eventType" "public"."EventType" NOT NULL,
    "notificationChannel" "public"."NotificationChannel" NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "preferences" JSONB,
    "optOutTypes" JSONB,
    "collegeId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "event_subscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."event_reminder" (
    "id" TEXT NOT NULL,
    "eventId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "reminderTime" TIMESTAMP(3) NOT NULL,
    "leadTime" INTEGER NOT NULL DEFAULT 15,
    "isSent" BOOLEAN NOT NULL DEFAULT false,
    "sentAt" TIMESTAMP(3),
    "reminderType" "public"."ReminderType" NOT NULL DEFAULT 'EMAIL',
    "escalationLevel" INTEGER NOT NULL DEFAULT 1,
    "maxEscalations" INTEGER NOT NULL DEFAULT 3,
    "collegeId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "event_reminder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."refresh_token" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "revoked" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "refresh_token_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."recovery_request" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "used" BOOLEAN NOT NULL DEFAULT false,
    "usedAt" TIMESTAMP(3),
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "recovery_request_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_invitation" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "role" "public"."UserRole" NOT NULL,
    "collegeId" TEXT NOT NULL,
    "invitedBy" TEXT NOT NULL,
    "invitationToken" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "status" "public"."InvitationStatus" NOT NULL DEFAULT 'PENDING',
    "acceptedAt" TIMESTAMP(3),
    "acceptedBy" TEXT,
    "cancelledAt" TIMESTAMP(3),
    "cancelledBy" TEXT,
    "resendCount" INTEGER NOT NULL DEFAULT 0,
    "lastResentAt" TIMESTAMP(3),
    "customMessage" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_invitation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."email_log" (
    "id" TEXT NOT NULL,
    "to" TEXT NOT NULL,
    "from" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "template" TEXT,
    "status" "public"."EmailStatus" NOT NULL DEFAULT 'PENDING',
    "sentAt" TIMESTAMP(3),
    "deliveredAt" TIMESTAMP(3),
    "openedAt" TIMESTAMP(3),
    "clickedAt" TIMESTAMP(3),
    "bouncedAt" TIMESTAMP(3),
    "failedAt" TIMESTAMP(3),
    "failureReason" TEXT,
    "retryCount" INTEGER NOT NULL DEFAULT 0,
    "maxRetries" INTEGER NOT NULL DEFAULT 3,
    "messageId" TEXT,
    "provider" TEXT NOT NULL DEFAULT 'smtp',
    "metadata" JSONB,
    "collegeId" TEXT,
    "userId" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "email_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."activity_log" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "sessionId" TEXT,
    "action" TEXT NOT NULL,
    "resource" TEXT,
    "resourceId" TEXT,
    "details" JSONB,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "location" TEXT,
    "riskScore" DOUBLE PRECISION,
    "metadata" JSONB,
    "collegeId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "activity_log_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "super_admin_email_key" ON "public"."super_admin"("email");

-- CreateIndex
CREATE UNIQUE INDEX "college_username_key" ON "public"."college"("username");

-- CreateIndex
CREATE UNIQUE INDEX "college_code_key" ON "public"."college"("code");

-- CreateIndex
CREATE INDEX "college_isActive_idx" ON "public"."college"("isActive");

-- CreateIndex
CREATE INDEX "college_subscriptionStatus_idx" ON "public"."college"("subscriptionStatus");

-- CreateIndex
CREATE INDEX "college_username_idx" ON "public"."college"("username");

-- CreateIndex
CREATE INDEX "user_collegeId_idx" ON "public"."user"("collegeId");

-- CreateIndex
CREATE INDEX "user_role_idx" ON "public"."user"("role");

-- CreateIndex
CREATE INDEX "user_isActive_idx" ON "public"."user"("isActive");

-- CreateIndex
CREATE INDEX "user_email_idx" ON "public"."user"("email");

-- CreateIndex
CREATE INDEX "user_rollNo_idx" ON "public"."user"("rollNo");

-- CreateIndex
CREATE UNIQUE INDEX "user_collegeId_rollNo_key" ON "public"."user"("collegeId", "rollNo");

-- CreateIndex
CREATE UNIQUE INDEX "user_collegeId_email_key" ON "public"."user"("collegeId", "email");

-- CreateIndex
CREATE INDEX "subject_collegeId_idx" ON "public"."subject"("collegeId");

-- CreateIndex
CREATE INDEX "subject_classId_idx" ON "public"."subject"("classId");

-- CreateIndex
CREATE INDEX "subject_isActive_idx" ON "public"."subject"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "subject_collegeId_code_key" ON "public"."subject"("collegeId", "code");

-- CreateIndex
CREATE INDEX "exam_collegeId_idx" ON "public"."exam"("collegeId");

-- CreateIndex
CREATE INDEX "exam_subjectId_idx" ON "public"."exam"("subjectId");

-- CreateIndex
CREATE INDEX "exam_classId_idx" ON "public"."exam"("classId");

-- CreateIndex
CREATE INDEX "exam_startTime_idx" ON "public"."exam"("startTime");

-- CreateIndex
CREATE INDEX "exam_endTime_idx" ON "public"."exam"("endTime");

-- CreateIndex
CREATE INDEX "exam_isActive_idx" ON "public"."exam"("isActive");

-- CreateIndex
CREATE INDEX "exam_isPublished_idx" ON "public"."exam"("isPublished");

-- CreateIndex
CREATE INDEX "question_examId_idx" ON "public"."question"("examId");

-- CreateIndex
CREATE INDEX "question_type_idx" ON "public"."question"("type");

-- CreateIndex
CREATE INDEX "question_difficulty_idx" ON "public"."question"("difficulty");

-- CreateIndex
CREATE INDEX "question_option_questionId_idx" ON "public"."question_option"("questionId");

-- CreateIndex
CREATE INDEX "question_option_isCorrect_idx" ON "public"."question_option"("isCorrect");

-- CreateIndex
CREATE INDEX "exam_result_userId_idx" ON "public"."exam_result"("userId");

-- CreateIndex
CREATE INDEX "exam_result_examId_idx" ON "public"."exam_result"("examId");

-- CreateIndex
CREATE INDEX "exam_result_score_idx" ON "public"."exam_result"("score");

-- CreateIndex
CREATE INDEX "exam_result_percentage_idx" ON "public"."exam_result"("percentage");

-- CreateIndex
CREATE INDEX "exam_result_isCompleted_idx" ON "public"."exam_result"("isCompleted");

-- CreateIndex
CREATE UNIQUE INDEX "exam_result_userId_examId_key" ON "public"."exam_result"("userId", "examId");

-- CreateIndex
CREATE INDEX "grade_boundary_collegeId_idx" ON "public"."grade_boundary"("collegeId");

-- CreateIndex
CREATE INDEX "grade_boundary_isDefault_idx" ON "public"."grade_boundary"("isDefault");

-- CreateIndex
CREATE INDEX "grade_boundary_minPercentage_idx" ON "public"."grade_boundary"("minPercentage");

-- CreateIndex
CREATE INDEX "grade_boundary_maxPercentage_idx" ON "public"."grade_boundary"("maxPercentage");

-- CreateIndex
CREATE INDEX "class_collegeId_idx" ON "public"."class"("collegeId");

-- CreateIndex
CREATE INDEX "class_academicYear_idx" ON "public"."class"("academicYear");

-- CreateIndex
CREATE UNIQUE INDEX "class_collegeId_name_academicYear_key" ON "public"."class"("collegeId", "name", "academicYear");

-- CreateIndex
CREATE INDEX "enrollment_userId_idx" ON "public"."enrollment"("userId");

-- CreateIndex
CREATE INDEX "enrollment_classId_idx" ON "public"."enrollment"("classId");

-- CreateIndex
CREATE INDEX "enrollment_status_idx" ON "public"."enrollment"("status");

-- CreateIndex
CREATE INDEX "enrollment_enrollmentDate_idx" ON "public"."enrollment"("enrollmentDate");

-- CreateIndex
CREATE UNIQUE INDEX "enrollment_userId_classId_key" ON "public"."enrollment"("userId", "classId");

-- CreateIndex
CREATE INDEX "teacher_class_assignment_teacherId_idx" ON "public"."teacher_class_assignment"("teacherId");

-- CreateIndex
CREATE INDEX "teacher_class_assignment_classId_idx" ON "public"."teacher_class_assignment"("classId");

-- CreateIndex
CREATE INDEX "teacher_class_assignment_subjectId_idx" ON "public"."teacher_class_assignment"("subjectId");

-- CreateIndex
CREATE INDEX "teacher_class_assignment_isActive_idx" ON "public"."teacher_class_assignment"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "teacher_class_assignment_teacherId_classId_subjectId_key" ON "public"."teacher_class_assignment"("teacherId", "classId", "subjectId");

-- CreateIndex
CREATE UNIQUE INDEX "student_profile_userId_key" ON "public"."student_profile"("userId");

-- CreateIndex
CREATE INDEX "student_profile_collegeId_idx" ON "public"."student_profile"("collegeId");

-- CreateIndex
CREATE INDEX "student_profile_rollNo_idx" ON "public"."student_profile"("rollNo");

-- CreateIndex
CREATE INDEX "student_profile_gender_idx" ON "public"."student_profile"("gender");

-- CreateIndex
CREATE UNIQUE INDEX "student_profile_collegeId_rollNo_key" ON "public"."student_profile"("collegeId", "rollNo");

-- CreateIndex
CREATE INDEX "student_exam_attempt_userId_idx" ON "public"."student_exam_attempt"("userId");

-- CreateIndex
CREATE INDEX "student_exam_attempt_examId_idx" ON "public"."student_exam_attempt"("examId");

-- CreateIndex
CREATE INDEX "student_exam_attempt_collegeId_idx" ON "public"."student_exam_attempt"("collegeId");

-- CreateIndex
CREATE INDEX "student_exam_attempt_startedAt_idx" ON "public"."student_exam_attempt"("startedAt");

-- CreateIndex
CREATE INDEX "student_exam_attempt_endedAt_idx" ON "public"."student_exam_attempt"("endedAt");

-- CreateIndex
CREATE INDEX "student_exam_attempt_score_idx" ON "public"."student_exam_attempt"("score");

-- CreateIndex
CREATE INDEX "student_exam_attempt_isCompleted_idx" ON "public"."student_exam_attempt"("isCompleted");

-- CreateIndex
CREATE INDEX "student_exam_attempt_suspiciousActivity_idx" ON "public"."student_exam_attempt"("suspiciousActivity");

-- CreateIndex
CREATE INDEX "student_exam_attempt_violationCount_idx" ON "public"."student_exam_attempt"("violationCount");

-- CreateIndex
CREATE UNIQUE INDEX "student_exam_attempt_userId_examId_key" ON "public"."student_exam_attempt"("userId", "examId");

-- CreateIndex
CREATE INDEX "student_answer_attemptId_idx" ON "public"."student_answer"("attemptId");

-- CreateIndex
CREATE INDEX "student_answer_questionId_idx" ON "public"."student_answer"("questionId");

-- CreateIndex
CREATE INDEX "student_answer_collegeId_idx" ON "public"."student_answer"("collegeId");

-- CreateIndex
CREATE INDEX "student_answer_isCorrect_idx" ON "public"."student_answer"("isCorrect");

-- CreateIndex
CREATE INDEX "student_answer_marksAwarded_idx" ON "public"."student_answer"("marksAwarded");

-- CreateIndex
CREATE INDEX "student_answer_answeredAt_idx" ON "public"."student_answer"("answeredAt");

-- CreateIndex
CREATE UNIQUE INDEX "student_answer_attemptId_questionId_key" ON "public"."student_answer"("attemptId", "questionId");

-- CreateIndex
CREATE INDEX "event_collegeId_idx" ON "public"."event"("collegeId");

-- CreateIndex
CREATE INDEX "event_classId_idx" ON "public"."event"("classId");

-- CreateIndex
CREATE INDEX "event_subjectId_idx" ON "public"."event"("subjectId");

-- CreateIndex
CREATE INDEX "event_scheduledAt_idx" ON "public"."event"("scheduledAt");

-- CreateIndex
CREATE INDEX "event_type_idx" ON "public"."event"("type");

-- CreateIndex
CREATE INDEX "event_priority_idx" ON "public"."event"("priority");

-- CreateIndex
CREATE INDEX "event_isActive_idx" ON "public"."event"("isActive");

-- CreateIndex
CREATE INDEX "notification_userId_idx" ON "public"."notification"("userId");

-- CreateIndex
CREATE INDEX "notification_eventId_idx" ON "public"."notification"("eventId");

-- CreateIndex
CREATE INDEX "notification_type_idx" ON "public"."notification"("type");

-- CreateIndex
CREATE INDEX "notification_channel_idx" ON "public"."notification"("channel");

-- CreateIndex
CREATE INDEX "notification_status_idx" ON "public"."notification"("status");

-- CreateIndex
CREATE INDEX "notification_collegeId_idx" ON "public"."notification"("collegeId");

-- CreateIndex
CREATE INDEX "notification_sentAt_idx" ON "public"."notification"("sentAt");

-- CreateIndex
CREATE INDEX "notification_deliveredAt_idx" ON "public"."notification"("deliveredAt");

-- CreateIndex
CREATE INDEX "event_subscription_userId_idx" ON "public"."event_subscription"("userId");

-- CreateIndex
CREATE INDEX "event_subscription_eventType_idx" ON "public"."event_subscription"("eventType");

-- CreateIndex
CREATE INDEX "event_subscription_notificationChannel_idx" ON "public"."event_subscription"("notificationChannel");

-- CreateIndex
CREATE INDEX "event_subscription_isActive_idx" ON "public"."event_subscription"("isActive");

-- CreateIndex
CREATE INDEX "event_subscription_collegeId_idx" ON "public"."event_subscription"("collegeId");

-- CreateIndex
CREATE UNIQUE INDEX "event_subscription_userId_eventType_notificationChannel_col_key" ON "public"."event_subscription"("userId", "eventType", "notificationChannel", "collegeId");

-- CreateIndex
CREATE INDEX "event_reminder_eventId_idx" ON "public"."event_reminder"("eventId");

-- CreateIndex
CREATE INDEX "event_reminder_userId_idx" ON "public"."event_reminder"("userId");

-- CreateIndex
CREATE INDEX "event_reminder_reminderTime_idx" ON "public"."event_reminder"("reminderTime");

-- CreateIndex
CREATE INDEX "event_reminder_isSent_idx" ON "public"."event_reminder"("isSent");

-- CreateIndex
CREATE INDEX "event_reminder_collegeId_idx" ON "public"."event_reminder"("collegeId");

-- CreateIndex
CREATE UNIQUE INDEX "refresh_token_token_key" ON "public"."refresh_token"("token");

-- CreateIndex
CREATE INDEX "refresh_token_userId_idx" ON "public"."refresh_token"("userId");

-- CreateIndex
CREATE INDEX "refresh_token_token_idx" ON "public"."refresh_token"("token");

-- CreateIndex
CREATE INDEX "refresh_token_expiresAt_idx" ON "public"."refresh_token"("expiresAt");

-- CreateIndex
CREATE INDEX "refresh_token_revoked_idx" ON "public"."refresh_token"("revoked");

-- CreateIndex
CREATE UNIQUE INDEX "recovery_request_token_key" ON "public"."recovery_request"("token");

-- CreateIndex
CREATE INDEX "recovery_request_userId_idx" ON "public"."recovery_request"("userId");

-- CreateIndex
CREATE INDEX "recovery_request_token_idx" ON "public"."recovery_request"("token");

-- CreateIndex
CREATE INDEX "recovery_request_expiresAt_idx" ON "public"."recovery_request"("expiresAt");

-- CreateIndex
CREATE INDEX "recovery_request_used_idx" ON "public"."recovery_request"("used");

-- CreateIndex
CREATE INDEX "recovery_request_type_idx" ON "public"."recovery_request"("type");

-- CreateIndex
CREATE UNIQUE INDEX "user_invitation_invitationToken_key" ON "public"."user_invitation"("invitationToken");

-- CreateIndex
CREATE INDEX "user_invitation_email_idx" ON "public"."user_invitation"("email");

-- CreateIndex
CREATE INDEX "user_invitation_collegeId_idx" ON "public"."user_invitation"("collegeId");

-- CreateIndex
CREATE INDEX "user_invitation_invitationToken_idx" ON "public"."user_invitation"("invitationToken");

-- CreateIndex
CREATE INDEX "user_invitation_status_idx" ON "public"."user_invitation"("status");

-- CreateIndex
CREATE INDEX "user_invitation_expiresAt_idx" ON "public"."user_invitation"("expiresAt");

-- CreateIndex
CREATE INDEX "user_invitation_invitedBy_idx" ON "public"."user_invitation"("invitedBy");

-- CreateIndex
CREATE INDEX "email_log_to_idx" ON "public"."email_log"("to");

-- CreateIndex
CREATE INDEX "email_log_status_idx" ON "public"."email_log"("status");

-- CreateIndex
CREATE INDEX "email_log_template_idx" ON "public"."email_log"("template");

-- CreateIndex
CREATE INDEX "email_log_sentAt_idx" ON "public"."email_log"("sentAt");

-- CreateIndex
CREATE INDEX "email_log_collegeId_idx" ON "public"."email_log"("collegeId");

-- CreateIndex
CREATE INDEX "email_log_userId_idx" ON "public"."email_log"("userId");

-- CreateIndex
CREATE INDEX "email_log_createdAt_idx" ON "public"."email_log"("createdAt");

-- CreateIndex
CREATE INDEX "activity_log_userId_idx" ON "public"."activity_log"("userId");

-- CreateIndex
CREATE INDEX "activity_log_sessionId_idx" ON "public"."activity_log"("sessionId");

-- CreateIndex
CREATE INDEX "activity_log_action_idx" ON "public"."activity_log"("action");

-- CreateIndex
CREATE INDEX "activity_log_resource_idx" ON "public"."activity_log"("resource");

-- CreateIndex
CREATE INDEX "activity_log_resourceId_idx" ON "public"."activity_log"("resourceId");

-- CreateIndex
CREATE INDEX "activity_log_ipAddress_idx" ON "public"."activity_log"("ipAddress");

-- CreateIndex
CREATE INDEX "activity_log_collegeId_idx" ON "public"."activity_log"("collegeId");

-- CreateIndex
CREATE INDEX "activity_log_createdAt_idx" ON "public"."activity_log"("createdAt");

-- CreateIndex
CREATE INDEX "activity_log_riskScore_idx" ON "public"."activity_log"("riskScore");

-- AddForeignKey
ALTER TABLE "public"."user" ADD CONSTRAINT "user_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."subject" ADD CONSTRAINT "subject_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."subject" ADD CONSTRAINT "subject_classId_fkey" FOREIGN KEY ("classId") REFERENCES "public"."class"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."exam" ADD CONSTRAINT "exam_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "public"."subject"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."exam" ADD CONSTRAINT "exam_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."exam" ADD CONSTRAINT "exam_classId_fkey" FOREIGN KEY ("classId") REFERENCES "public"."class"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."exam" ADD CONSTRAINT "exam_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "public"."user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."question" ADD CONSTRAINT "question_examId_fkey" FOREIGN KEY ("examId") REFERENCES "public"."exam"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."question_option" ADD CONSTRAINT "question_option_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "public"."question"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."exam_result" ADD CONSTRAINT "exam_result_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."exam_result" ADD CONSTRAINT "exam_result_examId_fkey" FOREIGN KEY ("examId") REFERENCES "public"."exam"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."grade_boundary" ADD CONSTRAINT "grade_boundary_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."class" ADD CONSTRAINT "class_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."enrollment" ADD CONSTRAINT "enrollment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."enrollment" ADD CONSTRAINT "enrollment_classId_fkey" FOREIGN KEY ("classId") REFERENCES "public"."class"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."teacher_class_assignment" ADD CONSTRAINT "teacher_class_assignment_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."teacher_class_assignment" ADD CONSTRAINT "teacher_class_assignment_classId_fkey" FOREIGN KEY ("classId") REFERENCES "public"."class"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."teacher_class_assignment" ADD CONSTRAINT "teacher_class_assignment_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "public"."subject"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."student_profile" ADD CONSTRAINT "student_profile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."student_profile" ADD CONSTRAINT "student_profile_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."student_exam_attempt" ADD CONSTRAINT "student_exam_attempt_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."student_exam_attempt" ADD CONSTRAINT "student_exam_attempt_examId_fkey" FOREIGN KEY ("examId") REFERENCES "public"."exam"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."student_exam_attempt" ADD CONSTRAINT "student_exam_attempt_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."student_answer" ADD CONSTRAINT "student_answer_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "public"."student_exam_attempt"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."student_answer" ADD CONSTRAINT "student_answer_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "public"."question"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."student_answer" ADD CONSTRAINT "student_answer_selectedOptionId_fkey" FOREIGN KEY ("selectedOptionId") REFERENCES "public"."question_option"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."student_answer" ADD CONSTRAINT "student_answer_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."event" ADD CONSTRAINT "event_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."event" ADD CONSTRAINT "event_classId_fkey" FOREIGN KEY ("classId") REFERENCES "public"."class"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."event" ADD CONSTRAINT "event_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "public"."subject"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."notification" ADD CONSTRAINT "notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."notification" ADD CONSTRAINT "notification_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES "public"."event"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."notification" ADD CONSTRAINT "notification_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."event_subscription" ADD CONSTRAINT "event_subscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."event_subscription" ADD CONSTRAINT "event_subscription_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."event_reminder" ADD CONSTRAINT "event_reminder_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES "public"."event"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."event_reminder" ADD CONSTRAINT "event_reminder_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."event_reminder" ADD CONSTRAINT "event_reminder_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."refresh_token" ADD CONSTRAINT "refresh_token_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."recovery_request" ADD CONSTRAINT "recovery_request_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_invitation" ADD CONSTRAINT "user_invitation_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_invitation" ADD CONSTRAINT "user_invitation_invitedBy_fkey" FOREIGN KEY ("invitedBy") REFERENCES "public"."user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_invitation" ADD CONSTRAINT "user_invitation_acceptedBy_fkey" FOREIGN KEY ("acceptedBy") REFERENCES "public"."user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."email_log" ADD CONSTRAINT "email_log_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."email_log" ADD CONSTRAINT "email_log_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES "public"."college"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."activity_log" ADD CONSTRAINT "activity_log_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

